<!DOCTYPE html>
<html>
<head>
  <title>Auctionate</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <% if current_user %>
     Welcome <%= current_user.nickname %>
     <div id="nav_logout">
      <%= link_to 'Sign out', '/signout' %>
    </div>
  <% else %>
    <div id="nav_login">
      <%= link_to 'Sign in with twitter', 'auth/twitter' %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
